
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Consultoría</title>
    <link rel="stylesheet" href="../publicAfter/assets/css/main.css"/>
    <link rel="stylesheet" href="../publicAfter/assets/css/nav.css"/>
    <link rel="stylesheet" href="../publicAfter/assets/css/body.css"/>
    <link rel="stylesheet" href="../publicAfter/assets/css/footer.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers|Boogaloo"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <nav class="menu">
      <div class="nav-1"><img src="https://cds.neoauto.g3c.pe/neoauto3/img/neoauto.svg?20180914104540" alt="neoAuto" srcset=""/></div>
      <div class="nav-2"><span><a href="./index.html">Inicio</a></span><span><a href="./servicios.html">Servicios</a></span><span><a href="">Proyectos</a></span><span><a href="">Clientes</a></span><span><a href="./contacto.html">Contacto</a></span></div>
    </nav>
    <h1>Cuerpo Home</h1>
    <div class="button"><span><a class="titleButton" id="upPopup" href="../publicAfter/partialsInicio/popup.html" target="popup" onClick="window.open(this.href, this.target, 'width=300,height=400'); return true;">Ingresar</a></span></div>
    <footer>
      <div class="footer-1">
        <div class="colum1">
          <div class="marca">Marca</div><span><a href="">Toyota</a></span><span><a href="">Kia</a></span><span><a href="">Hyundai</a></span><span>   <a href="">Bmw</a></span>
        </div>
        <div class="colum2">
          <div class="modelo">Modelo</div><span><a href="">Nissan</a></span><span><a href="">Volkswagen</a></span><span>   <a href="">SUzuki</a></span><span><a href="">Lamborgini</a></span>
        </div>
      </div>
      <div class="footer-2">
        <div class="contentCard">
          <div class="card"><img src="https://png.icons8.com/ios/1600/phone-disconnected-filled.png" alt="" srcset=""/><span>! Vende rápido !</span></div>
        </div>
      </div>
      <div class="footer-v-1"></div>
      <div class="footer-v-2"></div>
    </footer>
    <script src="../assets/js/popup.js"></script>
  </body>
</html>