footer
    .footer-1
        .colum1
            .marca Marca
            span
                a(href="") Toyota
            span
                a(href="") Kia
            span
                a(href="") Hyundai
            span    
                a(href="") Bmw
        .colum2
            .modelo Modelo
            span
                a(href="") Nissan
            span
                a(href="") Volkswagen
            span    
                a(href="") SUzuki
            span
                a(href="") Lamborgini
    .footer-2
        .contentCard
            .card
                img(src="https://png.icons8.com/ios/1600/phone-disconnected-filled.png", alt="", srcset="")
                span ! Vende rápido !
    .footer-v-1
    .footer-v-2