nav.menu
    .nav-1
        img(src="https://cds.neoauto.g3c.pe/neoauto3/img/neoauto.svg?20180914104540", alt="neoAuto", srcset="")
    .nav-2
        span
            a(href="./index.html") Inicio
        span
            a(href="./servicios.html") Servicios
        span
            a(href="") Proyectos
        span
            a(href="") Clientes
        span
            a(href="./contacto.html") Contacto

    
