body
    font-family Arial
    font-size 13px

.hide
    display none

.external-box
    background-color rgba(0, 0, 0, .5)
    bottom 0    
    left 0
    overflow auto
    position fixed
    right 0
    top 0
    z-index 100

.internal-box
    position relative
    width 25%
    height auto
    margin 0 auto
    box-shadow: 2px 2px 2px
    z-index 999
    .image
        width 10px
        margin-right: 0px
        z-index 1000
        position absolute
        right 5px
        top 5px
        img
            width 100%
            cursor pointer
    .center-box
        background #fff
        margin 0 auto
        position relative
        padding 30px 20px
        border-radius: 4px
        h2
            //background none repeat scroll 0 0 black
            box-sizing border-box
            color #000
            font-size 15px
            font-family Bangers
            letter-spacing: 1px
            left 0
            margin 0
            padding 5px
            position absolute
            text-align left
            top 0
            width 100%
        label
            display block
    .cerrar
        position absolute
        right 16px
        top 13px

.capa-padre
    display table
    height 100%
    width 100%

.children-box
    display table-cell
    vertical-align middle

.new-User
    position absolute
    right 15px

