body
    font-family Arial
    font-size 13px

.external-box
    background-color rgba(0, 0, 0, .5)
    bottom 0
    display none
    left 0
    overflow auto
    position fixed
    right 0
    top 0
    z-index 1000

.center-box
    background #fff
    margin 0 auto
    position relative
    width 40%
    height 250px

.center-box
    margin 0 auto
    // text-align center
    padding 30px 20px
    h2
        background none repeat scroll 0 0 black
        box-sizing border-box
        color white
        font-size 15px
        font-family Bangers
        letter-spacing: 1px
        left 0
        margin 0
        padding 5px
        position absolute
        text-align left
        top 0
        width 100%
    label
        display block

.cerrar
    position absolute
    right 16px
    top 13px

// .animated
//     -webkit-animation-duration 1s
//     animation-duration 1s
//     -webkit-animation-fill-mode both
//     animation-fill-mode both
//     &.infinite
//         -webkit-animation-iteration-count infinite
//         animation-iteration-count infinite
        
// .bounceIn
//     -webkit-animation-name bounceIn
//     animation-name bounceIn
//     -webkit-animation-duration .75s
//     animation-duration .75s

// .element
//     &.bounceIn
//         -webkit-animation bounceIn .7s 1
//         -moz-animation bounceIn .7s 1
//         -o-animation bounceIn .7s 1
//         animation bounceIn .7s 1

.capa-padre
    display table
    height 100%
    width 100%

.capa-hijo
    display table-cell
    vertical-align middle

.form-login
    display none