.popupLogin
    background-image: url('http://www.4usky.com/data/out/67/164600151-orange-wallpapers.jpg')
    width: 250px
    height: 350px
    background-size: 100%;
    padding: 0px

    .title
        text-align: center
        font-family: Bangers
    .id
        color: white
        display: flex
        justify-content: space-around
    .pass
        display: flex
        justify-content: space-around


    