link(rel="stylesheet", href="../publicAfter/assets/css/popup.css")

.cajaexterna
    .capa-padre
        .capa-hijo
            .cajainterna.animated
                .cajacentrada
                    //- h2 Test Modal
                    //- label(for="") Nombre
                    //-     input#name(type="text")
                    //- label(for="") Apellido
                    //-     input#lastname(type="text")
                    //- button.submit(type="submit") Guardar
                    //- .cierramodal
                    //-     a.close.cerrarmodal(href='#' ) Cerrar Modal
                        
.inicio
    h2 Test Modal
    label(for="") Nombre
        input#name(type="text")
    label(for="") Apellido
        input#lastname(type="text")
    button.submit(type="button") Guardar
    .cierramodal
        a.close.cerrarmodal(href='#' ) Cerrar Modal
script(src="https://code.jquery.com/jquery-1.12.4.min.js" ,crossorigin="anonymous")
script(src="../publicAfter/assets/js/popup.js")

           

        