html(lang="en")
    include ../includ/header.pug
    link(rel="stylesheet", href="../assets/css/popup.css")
    body
        .popup
            .contentPopup
        .popupLogin
            span.title Login
            .id
                label(for="") Usuario :
                input(type="text")
            .pass
                label(for="") Password :
                input(type="text")

