link(rel="stylesheet", href="../publicAfter/assets/css/popup.css")

.external-box.hide
    .capa-padre
        .children-box
            .internal-box
                .image
                    img.close-modal(src="https://image.flaticon.com/icons/png/512/13/13725.png", alt="", srcset="")
                .center-box

.form-login.hide
    h2 Test Modal
    label(for="") Nombre
        input.name(type="text")
    label(for="") Apellido
        input.lastname(type="text")
    button.submit(type="button") Guardar

.form-reg.hide
    h2 Registro Modal
    label(for="") Nombre
        input.name(type="text")
    label(for="") Apellido
        input.lastname(type="text")
    button.submit(type="button") Guardar

.efectLoading.hide
    .loading
        .circle-parent
            .circle-child

.userRegister.hide
    ul.listUsers

    button.new-User New
        

script(src="https://code.jquery.com/jquery-1.12.4.min.js" ,crossorigin="anonymous")
script(src="../publicAfter/assets/js/popup.js")