h1 {
  color: #f00;
  width: 200px;
}
.button {
  position: absolute;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: #ec7a09;
  right: 20px;
}
.button span {
  transform: translateX(8px);
  display: block;
  line-height: 30px;
}
.button span .titleButton {
  font-family: Boogaloo;
  color: #000;
  text-decoration: none;
}
.loading {
  width: 38px;
  height: 38px;
  background-color: #fff;
}
.loading .circle-parent {
  position: relative;
  background: linear-gradient(#248dcd, #fff);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  animation: load 0.3s infinite;
}
.loading .circle-parent .circle-child {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  left: 2.5;
  top: 2.5;
  padding: 5px;
  width: 29px;
  height: 29px;
}
@-moz-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
