body {
  font-family: Arial;
  font-size: 13px;
}
.hide {
  display: none;
}
.external-box {
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
.internal-box {
  position: relative;
  width: 25%;
  height: auto;
  margin: 0 auto;
  box-shadow: 2px 2px 2px;
  z-index: 999;
}
.internal-box .image {
  width: 10px;
  margin-right: 0px;
  z-index: 1000;
  position: absolute;
  right: 5px;
  top: 5px;
}
.internal-box .image img {
  width: 100%;
  cursor: pointer;
}
.internal-box .center-box {
  background: #fff;
  margin: 0 auto;
  position: relative;
  padding: 30px 20px;
  border-radius: 4px;
}
.internal-box .center-box h2 {
  box-sizing: border-box;
  color: #000;
  font-size: 15px;
  font-family: Bangers;
  letter-spacing: 1px;
  left: 0;
  margin: 0;
  padding: 5px;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
}
.internal-box .center-box label {
  display: block;
}
.internal-box .cerrar {
  position: absolute;
  right: 16px;
  top: 13px;
}
.capa-padre {
  display: table;
  height: 100%;
  width: 100%;
}
.capa-hijo {
  display: table-cell;
  vertical-align: middle;
}
